<!doctype html>
<html lang="fr"><meta charset="utf-8">
<title>ToDoApp – {{ env_name }} deploy</title>
<h1>ToDoApp – déployée sur {{ env_name }} ✅</h1>
<p>Branche: <b>{{ branch }}</b></p>
<pre>{{ tests.stdout }}</pre>
</html>
